VITE_FIREBASE_API_KEY=AIzaSyB90epVfaN6CUisUD-KoHpS4CAy43Hfnd4
VITE_FIREBASE_AUTH_DOMAIN=tripsync-c16a7.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tripsync-c16a7
VITE_FIREBASE_APP_ID=1:631920180708:web:c89c304630966636a71bf1
VITE_USE_FIREBASE_EMULATORS=false